# Patterns to ignore when packaging a Helm chart.
# See https://helm.sh/docs/chart_template_guide/helm_ignore_file/

.git/
.gitignore
.github/
.helmignore
README.md
LICENSE
*.tgz
dist/
.cr-release-packages/
.DS_Store
*.swp
